<div class="header">
    <!-- Adding the ng-app declaration to initialize AngularJS -->
    <div id="main" class="pull-right" ng-app>
        <!-- The navigation menu will get the value of the "active" variable as a class.
             The $event.preventDefault() stops the page from jumping when a link is clicked. -->

        <nav class="{{active}}" ng-click="$event.preventDefault()">

            <!-- When a link in the menu is clicked, we set the active variable -->

            <a href="#" class="home" ng-click="active='home'">Home</a>
            <a href="#" class="projects" ng-click="active='projects'">Projects</a>
            <a href="#" class="services" ng-click="active='services'">Services</a>
            <a href="#" class="contact" ng-click="active='contact'">Contact</a>
        </nav>

        <!-- ng-show will show an element if the value in the quotes is truthful,
             while ng-hide does the opposite. Because the active variable is not set
             initially, this will cause the first paragraph to be visible. -->

        <p ng-hide="active">Please click a menu item</p>
        <p ng-show="active">You chose <b>{{active}}</b></p>
    </div>
    <h3 class="text-muted"><img src="images/logo.png" alt="Pehratek Products"/></h3>
</div>

<div class="row">
    <hr/>
    <h1>System Builder</h1>
    <hr/>
</div>

<div class="row">
    <div class="col-md-4" ng-repeat="product in products | filter: category='system'">
        <h3>{{product.title}} - {{product.category}}</h3>
        <p>{{product.price | currency}}</p>
        <ul>
            <li ng-repeat="image in product.imageUrl | limitTo:1" class="list-inline">
                <img src="{{image}}" alt="product.title" class="img-responsive" />
            </li>
        </ul>
        <ul>
            <li ng-repeat="option in product.options" class="list-inline">
                {{option.title}}
            </li>
        </ul>

        <a href="#/product/{{product.id +1}}"><h2 class="btn btn-danger">Learn More</h2></a>

        <div class="row">
            <a href="#/product/{{product.id +1}}/options/{{product.id +1}}"><button class="btn btn-primary">Choose This Product</button></a>
        </div>

    </div>
</div>

