builder page
<div class="header">
    <div id="main" class="pull-right" ng-app>
        <nav class="projects">
            <a href="#/" class="home">Home</a>
            <a href="#/builder" class="projects">Products</a>
            <a href="#/services" class="services">Services</a>
            <a href="#/contact" class="contact">Contact</a>
        </nav>
    </div>
    <h3 class="text-muted"><img src="images/logo.png" alt="Pehratek Products"/></h3>
</div>

<div class="row">
    <hr/>
    <h1>System Builder</h1>
    <hr/>
</div>

<div class="row">
    <div ng-repeat="system in systems | filter: category='system'">
        <p>{{system.title}}</p>
        <p>Category: {{system.category}}</p>
        <p>{{system.price | currency}}</p>

        <ul class="list-inline">
            <li ng-repeat="image in system.imageUrl | limitTo:1">
                <img src="{{image}}" alt="{{system.title}}" class="img-responsive"/>
            </li>
        </ul>

        <ul class="list-inline">
            <li ng-repeat="option in system.options">
                {{option.title}}
            </li>
        </ul>

        <div class="row">
            <a href="#/system-detail/{{system.id +1}}"><button class="btn btn-danger">Learn More</button></a>
        </div>

        <div class="row">
            <a ng-click="cart.setSystemId(system.id)" href="#/product/{{system.id +1}}/option/1"><button class="btn btn-primary">Choose This Product</button></a>
        </div>

    </div>
</div>

