<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/"><h3 class="text-muted"><img src="images/logo.png" alt="Pehratek Products"/></h3></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/" class="home">Home</a></li>
            <li><a href="#/builder" class="products">Build Your System</a></li>
            <li><a href="#/contact" class="contact">Contact</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</div>
</div>

<div class="row margin-top-header text-center">
    <h2 class="text-primary">Choose Your System</h2>
    <hr/>
</div>

<div class="row text-center">
    <ul class="list-inline">
        <li ng-repeat="system in systems | filter: category='system'" class="text-center" style="margin-left: 40px;">
            <p><strong>{{system.title}}</strong></p>
            <p>Category: {{system.category}}</p>
            <p><strong>{{system.price | currency}}</strong></p>

            <ul class="list-inline">
                <li ng-repeat="image in system.imageUrl | limitTo:1">
                    <img src="{{image}}" alt="{{system.title}}" class="img-responsive" width="250"/>
                </li>
            </ul>

            <ul class="list-inline">
                <li ng-repeat="option in system.options">
                    {{option.title}}
                </li>
            </ul>

            <div class="row">
                <a href="#/system-detail/{{system.id +1}}"><button class="btn btn-info">Learn More...</button></a>
                <hr/>
                <a href="#/product/{{system.id +1}}/option/1"><button class="btn btn-success">Configure This System</button></a>
            </div>

        </li>


    </ul>
</div>

<footer>
    <div class="row">
        <div class="col-md-6 pull-left">Copyright © 2014 - Pehratek Products</div>
    </div>
</footer>