<div class="header">
    <div id="main" class="pull-right" ng-app>
        <nav class="home">
            <a href="#/" class="home">Home</a>
            <a href="#/builder" class="products">Products</a>
            <a href="#/services" class="services">Services</a>
            <a href="#/contact" class="contact">Contact</a>
        </nav>
    </div>
    <h3 class="text-muted"><img src="images/logo.png" alt="Pehratek Products"/></h3>
</div><!-- END HEADER -->

<div class="row">

    <div class="col-lg-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="category in systemCategories()" ng-class="{'active': selectedCategoryId === category.id}">
                <a href="#/product/{{selectedSystem+1}}/option/{{category.id + 1}}">{{category.title}}</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-7">

        <div class="row">
            <ul id="option-items" class="list-inline">
                <li ng-repeat="option in systemCategoryOptions" class="text-center" style="margin-left: 40px;">
                    <div class="row">{{option.title}} <br/>{{option.name}}</div>
                    <div class="row text-danger"><strong>{{option.price | currency}}</strong>
                        <hr/>
                    </div>
                    <div class="row text-center">
                        <img class="img-responsive" ng-repeat="img in option.imgUrl | limitTo: 1" src="{{img}}" alt="{{option.title}}"/>
                    </div>
                    <div class="row">
                        <a href="#/option-detail/{{option.id+1}}"><button class="btn btn-danger">Learn More...</button></a>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <a href="#/product/{{system.id +1}}/option/1"><button class="btn btn-primary">Choose This Product</button></a>
                    </div>
                </li>
                <li class="active"><button class="btn btn-primary">Skip</button></li>
            </ul>
        </div>
    </div><!-- END LEFT COLUMN -->

    <div class="col-lg-2">

        <h4>Your Configuration</h4>
        <p><strong>{{system.title}} - {{system.price | currency}}</strong></p>

    </div><!-- END RIGHT COLUMN -->

</div>




<div class="row">

</div>

<div class="row">



</div>

<a href="#/product/{{selectedSystem+1}}/option/{{selectedCategoryId+2}}"><button class="btn btn-primary">Next</button></a>