<div class="modal-header">
    <button class="btn btn-primary pull-right" ng-click="ok()">Close</button>
    <h3>{{selectedOption.title}} <small> - {{selectedOption.name}}</small></h3>
</div>
<div class="modal-body">
    <h4>{{selectedOption.price | currency}}</h4>
    <p>{{selectedOption.desc}}</p>

    <ul ng-repeat="img in selectedOption.imgUrl" class="list-inline">
        <li>
            <img class="img-responsive" src="{{img}}" alt="{{selectedOption.title}}"/>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Close</button>
    <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
</div>