<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".top-collapse">
                <!-- NOTE!  data-toggle was changed to top-collapse -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><h3 class="text-muted"><img class="logo-margin" src="images/logo.png" alt="Pehratek Products"/>
            </h3></a>
        </div>
        <div class="navbar-collapse collapse top-collapse"><!-- NOTE!  the class top-collapse was added here -->

            <ul class="nav nav-pills navbar-right margin-top-10">
                <li class="active"><a href="#/">Home</a></li>
                <li><a href="#/builder">Build Your System</a></li>
                <li><a href="#/price-list">Price List</a></li>
                <li><a href="#/resources">Resources</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h1>What We Do</h1>

        <p>Pehratek Products was created in 1979 as a design lab for specialty products in the areas of audiology and health
            care. The first product created was the REINFORCER VRA (Visual Reinforcement Apparatus) introduced in late 1980.
            Combining elements of design innovation and superb product performance, its popularity grew as an easy-to-use,
            reliable pediatric testing system used by audiologists and pediatric clinics for testing children’s hearing
            world-wide.
            Today, Pehratek Products offers a line of innovative medical/audiology products that offer sound solutions to
            communications and hearing assessment issues.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
        <h1>New Wireless Video VRA</h1>
        <iframe width="450" height="205" src="//www.youtube.com/embed/INB5KhCj48A" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<hr/>

<div class="row">
    <h2 class="text-center text-primary">Featured Systems</h2>
    <hr/>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

        <div style="padding: 0 40px;">
            <div class="text-center">
                <h5><strong>VIDEO VRA-RF VDS-1000</strong></h5>
                <hr/>
            </div>

            <div class="row text-center">
                <img src="images/products/vds1000.png" alt="" class="img-responsive"/>
            </div>

            <div class="row">
                <h3>Features</h3>
                <ul>
                    <li>15” Bright LCD Color Display</li>
                    <li>Wireless Radio Remote Control</li>
                    <li>Colorful Action Cartoon Images</li>
                    <li>Dual-Arm Mounting Brackets</li>
                    <li>Control Center Box / Remote</li>
                </ul>
            </div>

            <div class="row">
                <h3>Options</h3>
                <ul>
                    <li>Centering Box</li>
                    <li>Centering LCD Monitor</li>
                    <li>Sound Module</li>
                    <li>Rolling Stand</li>
                    <li>Installation Kit</li>
                    <li>Desktop Stand</li>
                    <li>Speaker Console</li>
                </ul>
                <hr/>
                <ul>
                    <li>(2) 15" LCD Monitors</li>
                    <li>Dual mounting brackets</li>
                    <li>Hand-held RF remote control</li>
                    <li>(14.5"x10.8"x1.7")</li>
                </ul>
            </div>

            <div class="row text-left margin-top-44">
                <a href="#/product/1/option/1" class="btn btn-success text-center">Custom Build Your VDS-1000 Today <br/><strong>$3,295.00</strong></a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div style="padding: 0 40px;">
            <div class="text-center">
                <h5><strong>3D TOY XM-5000 WIRELESS/WIRED</strong></h5>
                <hr/>
            </div>

            <div class="row text-center">
                <img src="images/products/xm5000.png" alt="" class="img-responsive"/>
            </div>

            <div class="row">
                <h3>Features</h3>
                <ul>
                    <li>Compact Size –Large Display</li>
                    <li>Wireless/Wired Operation</li>
                    <li>Multiple LED Patterns / Sounds</li>
                    <li>Control SOUND /LED LIGHTS/ IMAGES / CENTER BOXFrom Remote</li>
                    <li>Multiple Movement Patterns</li>
                    <li>Up to FOUR BOXES – QUAD</li>
                </ul>
            </div>

            <div class="row">
                <h3>Options</h3>
                <ul>
                    <li>Centering Box</li>
                    <li>Installation Kit</li>
                    <li>Corner Mounting Bracket</li>
                    <li>IR Booster/Repeater</li>
                    <li>Dual Arm Mounting Bracket</li>
                </ul>
                <hr class="margin-top-40"/>
                <ul>
                    <li>(2) 11" Square boxes flat back</li>
                    <li>Hand-held remote control</li>
                    <li>(11"x11"x6")</li>
                    <li>Available Wired or Wireless</li>
                </ul>
            </div>

            <div class="row text-left margin-top-20">
                <a href="#/product/2/option/2" class="btn btn-success margin-top-20 text-center">Custom Build Your XM-5000 Today<br/><strong>Price: $1,398.00 </strong></a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div style="padding: 0 40px;">
            <div class="text-center">
                <h5><strong>VIDEO VRA-IR VDS-1500</strong></h5>
                <hr/>
            </div>

            <div class="row text-left">
                <img src="images/products/vds1500.png" alt="" class="img-responsive"/>
            </div>

            <div class="row">
                <h3>Features</h3>
                <ul>
                    <li>15” Bright LCD Color Display</li>
                    <li>Control SOUND /LED LIGHTS/ IMAGES / CENTER BOXFrom Remote</li>
                    <li>Wireless Infra-RED Remote Control</li>
                    <li>Colorful Action Cartoon Images</li>
                    <li>Dual-Arm Mounting Brackets</li>
                    <li>External IR Sensors Capture IR Signals</li>
                </ul>
            </div>

            <div class="row">
                <h3>Options</h3>
                <ul>
                    <li>Center Box</li>
                    <li>Centering LCD Monitor</li>
                    <li>Rolling Stand</li>
                    <li>Installation Kit</li>
                    <li>Desktop Stand</li>
                    <li>Speaker Console</li>
                </ul>
                <hr/>
                <ul>
                    <li>(2) 15" LCD Monitors</li>
                    <li>Dual mounting brackets</li>
                    <li>Hand-held Infra-Red remote control</li>
                    <li>(14.5"x10.8"x1.7")</li>
                </ul>
            </div>

            <div class="row text-left margin-top-44">
                <a href="#/product/3/option/1" class="btn btn-success text-center">Custom Build Your VDS-1500 Today <br/><strong>$3,495.00</strong></a>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="row">

    <h2 class="text-center text-primary">Products Categories</h2>
    <hr/>

    <style>
        .custom-categories li {
            padding: 5px;
        }
    </style>

    <ul class="list-inline text-center custom-categories">
        <li ng-repeat="category in categories">
            <a href="" ng-click="setCategoryId(category.id)">
                <button class="btn btn-primary margin-top-20 category-btn">{{category.title}}</button>
            </a>
        </li>
    </ul>
    <hr/>
    <div>
        <ul class="list-inline text-center">
            <li ng-repeat="option in categoryOptions()" style="padding: 0 40px;">
                <div class="row"><strong>{{option.title}}</strong> <br/> ({{option.name}}) - <strong>{{option.price | currency}}</strong></div>
                <div class="row margin-top-20">
                    <img class="img-responsive thumbnail" ng-repeat="img in option.imgUrl | limitTo: 1" src="{{img}}"
                         alt="{{option.title}}" style="width: 150px; margin: auto;"/>
                    <a ng-click="optionDetail(option.id)" href="">
                        <button class="btn btn-info margin-top-20 btn-width">
                            Learn More <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>