<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/"><h3 class="text-muted"><img src="images/logo.png" alt="Pehratek Products"/></h3></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/" class="home">Home</a></li>
            <li><a href="#/builder" class="products">Build Your System</a></li>
            <li><a href="#/contact" class="contact">Contact</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</div>
</div>


<div class="col-md-12 margin-top-header">
    <p>Pehratek Products was created in 1979 as a design lab for specialty products in the areas of audiology and health care. The first product created was the REINFORCER VRA (Visual Reinforcement Apparatus) introduced in late 1980. Combining elements of design innovation and superb product performance, its popularity grew as an easy-to-use, reliable pediatric testing system used by audiologists and pediatric clinics for testing children’s hearing world-wide.
        Today, Pehratek Products offers a line of innovative of medical/audiology products that offer sound solutions to communications and hearing assessment issues. The introduction of the new XM-1000 Wireless VRA with COMPLETE CONTROL Hand-Held Remote is a breakthrough in pediatric testing technology offering the clinician a multitude of stimulus options to attract and retain the child’s attention throughout the test.
        We encourage you to contact us regarding your experiences with the products and offer any suggestions or ideas you may have to add to the product line or improvements on an existing product.</p>
</div>

<hr/>

<div class="row">
    <h2 class="text-center text-primary">Featured Systems</h2>
    <hr/>
    <div class="col-md-4">

        <div style="padding: 0 40px;">
            <div class="text-center">
                <h5><strong>VIDEO VRA-RF VDS-1000</strong></h5>
                <hr/>
            </div>

            <div class="row text-center">
                <img src="images/products/product-1.png" alt="" class="img-responsive"/>
            </div>

            <div class="row">
                <h3>Features</h3>
                <ul>
                    <li>15” Bright LCD Color Display</li>
                    <li>Wireless Radio Remote Control</li>
                    <li>Action Colorful Cartoon Images</li>
                    <li>Dual-Arm Mounting Brackets</li>
                </ul>
            </div>

            <div class="row">
                <h3>Options</h3>
                <ul>
                    <li>Centering Box</li>
                    <li>Centering LCD Monitor</li>
                    <li>Sound Module</li>
                    <li>Rolling Stand</li>
                    <li>Installation Kit</li>
                    <li>Desktop Stand</li>
                    <li>Speaker Console</li>
                </ul>
            </div>

            <div class="row text-left margin-top-20">
                <a href="#/product/1/option/1" class="btn btn-success">Build Your System Today</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div style="padding: 0 40px;">
            <div class="text-center">
                <h5><strong>3D TOY XM-5000 WIRELESS/WIRED</strong></h5>
                <hr/>
            </div>

            <div class="row text-center">
                <img src="images/products/product-2.png" alt="" class="img-responsive"/>
            </div>

            <div class="row">
                <h3>Features</h3>
                <ul>
                    <li>Compact Size –Large Display</li>
                    <li>Wireless/Wired Operation</li>
                    <li>Multiple LED Patterns</li>
                    <li>Multiple Sounds</li>
                    <li>Multiple Movement Patterns</li>
                    <li>Up to FOUR BOXES – QUAD</li>
                </ul>
            </div>

            <div class="row">
                <h3>Options</h3>
                <ul>
                    <li>Centering Box</li>
                    <li>Installation Kits</li>
                    <li>Corner Mounting Bracket</li>
                    <li>Dual Arm Mounting Bracket</li>
                    <li>IR Booster/Repeater</li>
                </ul>
            </div>

            <div class="row text-left margin-top-20">
                <a href="#/product/2/option/2" class="btn btn-success">Build Your System Today</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div style="padding: 0 40px;">
            <div class="text-center">
                <h5><strong>VIDEO VRA-IR VDS-1500</strong></h5>
                <hr/>
            </div>

            <div class="row text-left">
                <img src="images/products/product-1.png" alt="" class="img-responsive"/>
            </div>

            <div class="row">
                <h3>Features</h3>
                <ul>
                    <li>15” Bright LCD Color Display</li>
                    <li>Wireless Infra-RED Remote Control</li>
                    <li>Action Colorful Cartoon Images</li>
                    <li>Dual-Arm Mounting Brackets</li>
                    <li>Flashing LED /Sound Option</li>
                    <li>No Interference</li>
                </ul>
            </div>

            <div class="row">
                <h3>Options</h3>
                <ul>
                    <li>Center Box</li>
                    <li>Centering LCD Monitor</li>
                    <li>Rolling Stand</li>
                    <li>Installation Kit</li>
                    <li>Speaker Console</li>
                </ul>
            </div>

            <div class="row text-left margin-top-20">
                <a href="#/product/2/option/1" class="btn btn-success">Build Your System Today</a>
            </div>
        </div>
        </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-6">
        <h1>Other Products</h1>
    </div>
    <di class="row">
        <ul class="list-inline">
            <li>VDS-500</li>
            <li>LPA-400</li>
            <li>VDS-510</li>
            <li>LPA-440</li>
            <li>LPC-200</li>
            <li>LPA-400</li>
            <li>LPV-300</li>
            <li>VDS-510</li>
            <li>LPC-200</li>
            <li>(DUA-001)</li>
            <li>(ROL-STAN)</li>
            <li>(DSK-10)</li>
            <li>CTR-MT</li>
            <li>IRRT-200</li>
            <li>INS-VID</li>
            <li>INS-VID</li>
            <li>VDO-SND</li>
            <li>IRRT-200</li>
            <li>SRM-1000</li>
            <li>DOC-102</li>
            <li>REM-5000</li>
            <li>WT-1004</li>
            <li>WT-1002</li>
            <li>WT-7001</li>
            <li>IR-SENS</li>
            <li>CAB-09</li>
            <li>ADA-012</li>
            <li>ADA-013</li>
            <li>ADA-022</li>
            <li>XM-1001</li>
            <li>HW-0012</li>
        </ul>
    </di>
</div>

<hr/>

<div class="row">
    <div class="col-md-6">
        <h1>Legacy Products</h1>
    </div>

    <div class="row">
        <ul class="list-inline">
            <li>IR-7000 ANIMATRONIC VRA (INFRA-RED) WIRELESS REMOTE</li>
            <li>TALK-BACK INTERCOM SYSTEM</li>
            <li>XM-1000 WIRELESS VRA</li>
            <li>WRS-500/WRS-500 QUAD WIRED VRA</li>
        </ul>
    </div>
</div>

<hr/>

<footer>
    <div class="row">
        <div class="col-md-6 pull-left">Copyright © 2014 - Pehratek Products</div>
    </div>
</footer>