<!-- Contacts -->
<div id="contacts">
    <div class="row">
        <!-- Alignment -->
        <div class="col-sm-offset-1 col-sm-10"><button class="btn btn-primary pull-right" ng-click="ok()" style="margin: 10px 10px 0 0;">Close</button>
            <!-- Form itself -->
            <form name="sentMessage" class="well" id="contactForm"  novalidate>
                <legend>Fill Out The Form Below</legend>
                <hr/>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control"  placeholder="Full Name" id="name" required data-validation-required-message="Please enter your name" />
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your email" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="phone" class="form-control" placeholder="Phone #" id="phone" required data-validation-required-message="Please enter your phone #" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <textarea rows="6" cols="100" class="form-control" placeholder="Notes/Comments" id="message" style="resize:none"></textarea>
                    </div>
                </div>
                <hr/>
                <div class="control-group">
                    <div class="controls">
                        <p>
                            <strong>Your System Configuration</strong> - {{selectedSystem.title}} <br/>
                            {{selectedSystem.price | currency}}
                        </p>

                        <p>
                            <strong>Options</strong>
                            <span ng-repeat="option in options"><br/>{{option.title}} {{option.price | currency}}</span>
                        <p><strong>Total: {{total | currency}}</strong></p>

                    </div>
                </div>
                <div id="success"> </div> <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary pull-right">Email Us Your Configuration</button><br />
            </form>
        </div>
    </div>
</div>