<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".top-collapse">
                <!-- NOTE!  data-toggle was changed to top-collapse -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><h3 class="text-muted"><img class="logo-margin" src="images/logo.png" alt="Pehratek Products"/>
            </h3></a>
        </div>
        <div class="navbar-collapse collapse top-collapse"><!-- NOTE!  the class top-collapse was added here -->

            <ul class="nav nav-pills navbar-right margin-top-10">
                <li><a href="#/">Home</a></li>
                <li><a href="#/builder">Build Your System</a></li>
                <li class="active"><a href="#/price-list">Price List</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<ul class="list-unstyled" ng-controller="PriceListCtrl">
    <span ng-repeat="category in optionsByCategory">
        <h1>{{category.title}}</h1>
        <li ng-repeat="option in category.options"><h4>{{option.title}}</h4>({{option.name}})-
            <strong>{{option.price | currency}}</strong><hr/></li>
    </span>
</ul>