<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".top-collapse">
                <!-- NOTE!  data-toggle was changed to top-collapse -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><h3 class="text-muted"><img class="logo-margin" src="images/logo.png" alt="Pehratek Products"/>
            </h3></a>
        </div>
        <div class="navbar-collapse collapse top-collapse"><!-- NOTE!  the class top-collapse was added here -->

            <ul class="nav nav-pills navbar-right margin-top-10">
                <li><a href="#/">Home</a></li>
                <li><a href="#/builder">Build Your System</a></li>
                <li><a href="#/price-list">Price List</a></li>
                <li class="active"><a href="#/resources">Resources</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</div>

    <div class="container">
        <h2>VRA Installation and Documentation</h2>

        <ul>
            <li><a href="resources/FREQ-CHANGING-4CH.pdf" target="_blank">Video VRA Installation and Documentation</a></li>
            <li><a href="resources/XM-5000%20MANUAL.pdf">XM-5000 Documentation</a></li>
            <li><a href="resources/VDS-1500-SPEC.pdf">VDS-1500 Documentation</a></li>
            <li><a href="resources/FAQ%20Infared%20Light%20Control.docx">FAQ-Infra Red Documentation</a></li>
        </ul>
    </div>



